// colors:
$white: #fff;
$black: #000;
$blue_1: #4574eb;
$blue_2: #507cec;
$gray_1: #6b6b6b;
$gray_light_1: #eee;
$red_1: #eb4545;

// variables:
$primary: $blue_1;
$info: $blue_2;
$secondary: $gray_1;
$danger: $red_1;
$light: $gray_light_1;

$spacer: .5rem;
$border-radius: 4px;
